h1 {
	
	font-family: Arial, sans-serif;
}

header {
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	color:white;
	background: url("http://patterncooler.com/gen/index/w/hexagonal_cube_mesh_pattern-936.jpg");
	background-size: cover;
	background-position: top;
	margin-top: -45px;
	padding: 0;
}

body {
	background: black;
	color: white;
}
ul{
	background: rgba(62,134,249,1);
	background: linear-gradient(bottom, rgba(62,134,249,1), 
		rgba(62,134,249,.4));
	background: -moz-linear-gradient(bottom, rgba(62,134,249,1), 
		rgba(62,134,249,.4));
	background: -webkit-linear-gradient(bottom, rgba(62,134,249,1), 
		rgba(62,134,249,.4));
}
li{
	display: inline;
	font-size:28px;
	color: green;
	margin-right: 10px;
	margin-left: 10px;
}

a{
	
	color:green;
}

article {
  margin: 0 auto;
  max-width: 500px;
  border: 2px solid white;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 10px;
}